<div class="header-main {{ layout_file }} d-none d-xl-block">
	<div class="container">
		<div class="row align-items-xl-center" style="min-height: {{ ss_item.htheight }}px">

			<div class="col-md col-xl-6 d-xl-flex justify-content-start align-items-center">
			  <div class="mr-2 mr-xl-4" data-responsive-id="logo-shop" data-responsive-layout="desktop">
				{% include 'header-logo' %}
			  </div>
				{% if ss_item.megamenu_toggle %}
					<div  data-responsive-id="megamenu" data-responsive-layout="desktop">
						{% if ss_item.menu_burger %}
							<div class="d-xl-block d-none">
								{% include 'burger-megamenu' with menu_burger: ss_item.menu_burger %}
							</div>
							<div class="d-xl-none d-block">
								{% include 'main-megamenu' with menu_burger: ss_item.menu_burger %}
							</div>
						{% else %}
							{% include 'main-megamenu' %}
						{% endif %}
					</div>
				{% else %}
					{%- if ss_item.default_menu != blank -%}
						<div data-responsive-id="default-menu" data-responsive-layout="desktop">
							{% if ss_item.menu_burger %}
								<div class="d-xl-block d-none">
									{% include 'burger-defmenu' with menu_burger: ss_item.menu_burger %}
								</div>
								<div class="d-xl-none d-block">
									{% include 'default-menu' with menu_burger: ss_item.menu_burger %}
								</div>
							{% else %}
								{% include 'default-menu' %}
							{% endif %}

						</div>
					{%- endif -%}
				{% endif %}
				
			</div>
		 

			<div class="col-md ml-auto col-xl-4 d-flex justify-content-end align-items-center position-static header_items_wrapper">
			  
			  {% if shop.customer_accounts_enabled and ss_item.header_user %}
				<div class="item_left_spacer" data-responsive-id="header-account" data-responsive-layout="desktop">
				  {% include 'header-account' %}
				</div>
			  {% endif %}
			  
			  {% if ss_item.header_search %}
				<div class="item_left_spacer{% if toggle_search == false %} order-xl-first mr-xl-2{% endif %}" data-responsive-id="header-search" data-responsive-layout="desktop">
				  {% if toggle_search %}
					{% include 'header-search' %}
				  {% else %}
					{% include "search-content" %}
				  {% endif %}
				</div>
			  {% endif %}

				{% if ss_item.enable_header_wishlist %}
					<div class="item_left_spacer" data-responsive-id="wishlist" data-responsive-layout="desktop">
						{% include "header-wishlist" %}
					</div>
				{% endif %}
				
				{% if ss_item.header_cart %}
					<div class="item_left_spacer" data-responsive-id="shopping-cart" data-responsive-layout="desktop">
						{%- assign ajax_cart = ss_item.ajax_cart -%}
						{% include 'header-cart' ajax: ajax_cart, style: 'type_2' %}
					</div>
				{% endif %}
				
				{% unless topbar and ss_item.header_tb_cs %}
					{% if ss_item.use_currency_selector %}
						<div class="item_left_spacer" data-responsive-id="currency-selector" data-responsive-layout="desktop">
						  {% include "header-currency" %}
						</div>
					{% endif %}
				{% endunless %}
			</div>
		</div>
	</div>
</div>