<div class="product_item no-content">
  <div class="product_img_wrap">
	<div class="product_img">
	  <div class="card-wrapper">
		<div class="card__inner">
		  <div class="card__media-full-spacer">
			<div class="media media--portrait-thumb">
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="product_info mt-1">
	<div class="product_name h6">
	  <span>Product's name</span>
	</div>
	<div class="product-price-container">
	  <span class="product-price product-sale-price">$199.00</span>
	  <span class="product-regular-price">$340.00</span>
	</div>
  </div>
</div>