/* Link filters */
.link-filters ul > li {
  margin-bottom:10px;
}

.link-filters ul > li a {
  display:inline-block;
  color:var(--color-black);
  position:relative;
  font-weight:400;
  line-height:1.25;
  padding-left:15px;
  text-transform:capitalize;
}

.link-filters ul > li a:before {
  position:absolute;
  content:'';
  left:0;
  top:5px;
  cursor:pointer;
  background-color:var(--color-black);
  transition:all .3s ease-in-out;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="6" height="9" viewBox="0 0 6 9" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 0L0 1.5L3 4.5L2.62268e-07 7.5L1.5 9L6 4.5L1.5 0Z"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg width="6" height="9" viewBox="0 0 6 9" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 0L0 1.5L3 4.5L2.62268e-07 7.5L1.5 9L6 4.5L1.5 0Z"/></svg>');
  width:6px;
  height:9px;
}

.link-filters ul > li a:hover,.link-filters ul > li a:focus,.link-filters ul > li a:active {
  color:var(--color-black);
  text-decoration:underline;
}

.link-filters ul > li a:hover:before,.link-filters ul > li a:focus:before,.link-filters ul > li a:active:before {
  background-color:var(--color-black);
}

.filter-tags-wrapper .link-filters ul {
  column-count:2;
  column-gap:30px;
  list-style-position:inside;
  padding-left: 15px;
  padding-right:15px;
}

@media (min-width: 768px) {
  .filter-tags-wrapper .link-filters ul {
    column-count:3;
  }
}

.filter-tags-wrapper .image_filters .tag-block .product-thumbnail {
  box-shadow:0 6px 10px rgba(181,185,189,0.14);
  padding:0 0 8px;
  text-align:center;
  height:100%;
  transition:all .3s ease-in-out;
  background:var(--color-white);
}

.filter-tags-wrapper .image_filters .tag-block .product-thumbnail .tag-img {
  background:var(--color-grey-1);
}

.filter-tags-wrapper .image_filters .tag-block .product-thumbnail .tag-name {
  display:block;
  margin:10px 0 0;
  word-break: break-word;
  padding-left: 3px;
  padding-right: 3px;
}

.filter-tags-wrapper .image_filters .tag-block .product-thumbnail .tag-name > a {
  font-size: 13px;
}

.filter-tags-wrapper .image_filters .tag-block .product-thumbnail .tag-name .product-count {
  display:none;
}

.filter-tags-wrapper .image_filters .tag-block .product-thumbnail:hover {
  transform:translateY(-6px);
}

.filter-tags-wrapper .image_filters .tag-block .product-thumbnail.active .tag-name a {
  border-bottom-color:var(--color-primary);
}

.section_template__collection .button_filters {
  margin-top:30px;
}

.section_template__collection .button_filters ul {
  list-style:none;
}

.section_template__collection .product_listing__main {
  margin-top:35px;
}


/* Product view */

.product_view {
  margin:0;
  text-align:right;
}

.product_view li {
  display:inline-block;
  cursor:pointer;
}

.product_view li svg{
  transition:all .3s ease-in;
  width: 18px;
  height: 18px;
}

.product_view li svg rect {
  fill: var(--border-color);
}

.product_view li:hover svg rect{
  fill: var(--color-black);
}

.product_view li.active svg rect{
  fill: var(--color-black);
}

.product_view li.active {
  cursor:default;
}

.product_view li ~ li {
  margin-left:5px;
}


@media (min-width: 768px){
  .product_view {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .product_view li ~ li {
    margin-left:10px;
  }
}

.collection_title + .product_options {
  margin-top:30px;
}

/* Collection banner */

.collection_banner {
  position:relative;
  display:inline-block;
}

.collection_banner .img_placeholder {
  padding: 53.93% 0 0;
}

.collection_banner .collection_banner_thumbnail {
  position:relative;
}

.collection_banner .collection_banner_caption {
  position:absolute;
  top:0;
  left:10%;
  right:auto;
  bottom:0;
  padding:25px 20px;
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection_banner .collection_banner_caption .h3 {
  margin-bottom:0;
}

.collection_banner .collection_banner_caption a {
  text-decoration:none;
}

@media (min-width: 1200px) {
  .collection_banner .collection_banner_caption * + a {
    margin-top:15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .collection_banner .sidebar_banner_caption {
    padding: 20px 15px 15px;
  }

  .collection_banner .sidebar_banner_caption p {
    line-height:1.1;
  }
}

.collection_banner + * {
  margin-top:40px;
}

@media (min-width: 1200px) {
  .collection_banner + * {
    margin-top:80px;
  }
}

.section_template__collections-listing .page_heading {
  margin-bottom:43px;
}


/* Collection info */

.collection-information .collection_info.collection_background {
  padding:30px 20px;
  background-size:cover;
  background-repeat:no-repeat;
  display:flex;
}

.collection-information .collection_info.collection_background .collection_title {
  margin-bottom:0;
}

@media (min-width: 768px) {
  .collection-information .collection_info.collection_background {
    background-position:50% center;
    min-height:225px;
    padding-left:9%;
  }
}

.collection-information .collection_info .collection_desc {
  margin-top:20px;
}

.collection-information .collection_info .collection_desc p {
  font-size:16px;
  line-height:1.3;
  color:var(--base-font-color);
  margin:0;
}

.collection-information .collection_info .collection_desc p + p {
  margin-top:15px;
}

.collection-information .inverted .collection_desc,
.collection-information .inverted .collection_title {
  color:var(--color-white);
}

.collection-information.collection-information__fullwidth {
  background-size: cover;
  background-position:center 0;
  background-repeat: no-repeat;
}

.collection-information.collection-information__fullwidth .collection_info.text-center .filter-tags-wrapper .button_filters ul {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.collection-information.collection-information__fullwidth .filter-tags-wrapper .button_filters ul {
  max-width:400px;
  column-count:3;
}

.collection-information + .container {
  margin-top:40px;
}

@media (min-width: 1200px) {
  .collection-information + .container {
    margin-top:70px;
  }
}

.collection-information .image_filters .tag-block {
  max-width:120px;
}

.left-sidebar .collection-information.on .collection_info,.right-sidebar .collection-information.on .collection_info {
  margin-bottom:40px;
}


.page-fullwidth .pagination {
  text-align: center;
}

.page-fullwidth .pagination ul{
  justify-content: center;
}
