/*compare start*/

.compare{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#compare_list{
  display: none;
  padding: 0;
  right: 20px;
  bottom: 40px;
  border: transparent;
  position: fixed;
  z-index: 999;
  text-align: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-primary);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  background-color: var(--color-primary);
}

#compare_list svg path{
  fill: var(--color-white);
}

@media (max-width: 991px) {
  .itemWrapper{
    width: 100%;
  }
}

.productContent {
  padding: 15px 10px;
  min-width: 200px;
  width: 220px;
  display: table-cell;
  font-size: 14px;
  border-top: 1px solid var(--color-grey-1);
  position: relative;
}


.productContent .product_badge{
  float: none;
  margin-top: 0;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 20px;
}

.productContent .product_badge + .product_badge{
  margin-top: 27px;
}

#compare_list:hover{
  transition: 0.3s;
  background-color: var(--color-secondary);
}

.compare_item_option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 500;
  max-width: 210px;
}

.compare_item_option + div .productContent{
  border-left: 1px solid var(--color-grey-1);
}


.compare__wrapper {
  background: white;
  max-height: 90%;
  height: 90%;
  padding: 0 15px 15px;
  position: relative;
}

.createCompareItem {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid var(--color-grey-1);
  justify-content: space-between;
  overflow: auto;
  height: inherit;
  background-color: var(--color-white);
}

.createCompareItem li{
  display: flex;
  align-items: stretch;
  margin-left: 0!important;
  margin-right: 0!important;
}

.itemWrapper {
  padding: 0;
}

.opt-name {
  font-weight: 500;
}

#compareClose {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 17px;
  z-index: 10;
}

.itemWrapper iframe {
  max-width: 100%;
}
.productContent .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}


.productContent .description h2,
.productContent .description h4,
.productContent .description h1,
.productContent .description h3{
  font-size: 20px;
}

.productContent .description a{
  text-transform: capitalize;
}


.compareIn{
  background-color: var(--color-primary);
}


.compareIn svg path{
  fill: #fff;
}

#compareClose:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.compare__title{
  text-align: center;
  background: var(--color-grey-1);
  padding: 15px 0;
  margin-left: -8px;
  margin-right: -7px; 
}

#compare__rating .description {
    min-height: 40px;     
}


.itemWrapper .itemImgWrap {
  display: table;
  width: 100%;
}


.itemWrapper .itemImgWrap .productContent:last-child {
  border-right: 1px solid var(--color-grey-1);
}

.btn-primary.compareBtn {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
}

.compare__title{
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

#compareClearAll {
  position: absolute;
  right: 15%;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  text-transform: none;
  font-weight: 400;
}
#compareClearAll:hover{
  transition: 0.3s;
  opacity: 0.8;
}

.overInfo {
  padding: 20px;
  font-size: 18px;
  width: 560px;
  max-width: 560px;
  min-height: 200px;
  padding-right: 10%;
  display: flex;
  align-items: center;
  line-height: 28px;
}

#fancybox-loading{
  background-repeat: no-repeat;
  background-position: center -108px;
  text-align: center;
}
#fancybox-loading div{
  margin: auto;
}
.overrideLoading{
  background: none !important;
  color: white;
  width: 100px !important;
}

.compareRemoveItem {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: -5px;
}

.productImage {
  max-width: 100%;
  height: 220px;
  width: 220px;
  object-fit: cover;
  margin-top: -30px;
}

.compareRemoveItem:hover{
  color: var(--color-primary);
  transition: 0.3s;
}
.compareProductTitle:hover{
  color: var(--color-secondary);
  transition: 0.3s;
}


.itemWrapper .row + .row .compare_item_option {
  border-top: 1px solid var(--color-grey-1);
}

.itemWrapper .compareProductTitle {
  margin-bottom: 0;
  font-size: 16px;
}

.productContent .spr-badge .spr-badge-caption {
  display: block;
}

#compare__counter {
  position: absolute;
  top: 7px;
  color: var(--color-white);
  right: 13px;
}

.compare_btn{
  background: #fff;
  transition: 0.3s;
  display: inline-flex;
}


@media (min-width: 1200px) {
  #compare_list {
    bottom: 90px;
  }
}

.compare_btn .action_add {
  display: block;
}
.compare_btn .action_remove {
  display: none;
}
.compare_btn.compareIn .action_remove {
  display: block;
}
.compare_btn.compareIn .action_add {
  display: none;
}