/**
 * Section custom content
 */

.section_custom-content .item_video iframe {
    border: none;
}
.section_custom-content .item_video__wrap {
    overflow: hidden;
    padding: 56.25% 0 0 0;
    position: relative;
}
.section_custom-content .item_video__player {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section_custom-content .item_block_text {
    height: 100%;
}

.item_block_image .image-item-wrapper {
    position: relative;
}
